body
  margin:0px;
  padding:0px;
  font-family: avenir, helvetica, sans-serif, arial;
  font-size:14px
  color:#2d4054
  background-color:#f3f3f3

ul,li,p,h1,h2,h3,h4,h5,ol
  margin:0px
  padding:0px

li
  list-style:none
  
.clearfix
  zoom: 1;
.clearfix:after
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
